<video autoplay class="remote-video" id="remote-video" #remoteVideo></video>
<div class="overlay">
  <video autoplay muted class="local-video" id="local-video" #localVideo></video>
  <div class="control-buttons">
    <button type="button" id="endcallbutton" class="btn endcallbutton" #btnEndCall>End Call</button>
    <button type="button" id="flip-button" class="btn flip-button" #btnSwitchCamera>Switch Camera</button>
    <button type="button" id="video-flip-button" class="btn video-flip-button" #btnVideoToggle>video on/off</button>
    <button type="button" id="audio-flip-button" class="btn audio-flip-button" #btnAudioToggle>audio on/off</button>
  </div>
</div>