<div *ngIf="selectedUser !== null; else blackchatwindow">
  <header>
    <div>
      <img [src]="selectedUser.photoURL" class="profile-image" alt="Profile Pic"
        onerror="this.onerror=null; this.src='assets/asdf.svg'">
    </div>

    <div class="name-card">
      <span>{{selectedUser.displayName}}</span>
      <small>{{selectedUser.email}}</small>
    </div>

    <div>
      <button type="button" class="icon-button" (click)="videoCall()"
        [disabled]="!hasSupportForCall">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" fill="black">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4zM14 13h-3v3H9v-3H6v-2h3V8h2v3h3v2z" />
        </svg>
      </button>
      <button type="button" class="icon-button" (click)="sendLocation()"
        [disabled]="!geoLocationSupported && sendingLocation">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 40 40" width="40"
          height="40" fill="black">
          <g>
            <path d="M0,0h24v24H0V0z" fill="none" />
          </g>
          <g>
            <g>
              <path d="M13.02,19.93v2.02c2.01-0.2,3.84-1,5.32-2.21l-1.42-1.43C15.81,19.17,14.48,19.75,13.02,19.93z" />
              <path
                d="M4.03,12c0-4.05,3.03-7.41,6.95-7.93V2.05C5.95,2.58,2.03,6.84,2.03,12c0,5.16,3.92,9.42,8.95,9.95v-2.02 C7.06,19.41,4.03,16.05,4.03,12z" />
              <path d="M19.95,11h2.02c-0.2-2.01-1-3.84-2.21-5.32l-1.43,1.43C19.19,8.21,19.77,9.54,19.95,11z" />
              <path d="M18.34,4.26c-1.48-1.21-3.32-2.01-5.32-2.21v2.02c1.46,0.18,2.79,0.76,3.9,1.62L18.34,4.26z" />
              <path d="M18.33,16.9l1.43,1.42c1.21-1.48,2.01-3.31,2.21-5.32h-2.02C19.77,14.46,19.19,15.79,18.33,16.9z" />
              <g>
                <path
                  d="M16,11.1C16,8.61,14.1,7,12,7s-4,1.61-4,4.1c0,1.66,1.33,3.63,4,5.9C14.67,14.73,16,12.76,16,11.1z M12,12 c-0.59,0-1.07-0.48-1.07-1.07c0-0.59,0.48-1.07,1.07-1.07s1.07,0.48,1.07,1.07C13.07,11.52,12.59,12,12,12z" />
              </g>
            </g>
          </g>
        </svg>
      </button>
    </div>

  </header>

  <section class="chat-section">
    <div *ngFor="let message of selectedUserChat" [attr.data-msgalign]="message.loggedInUserIsSender">
      <div *ngIf="message.messageType === 0; else locationBlock" class="message-container">
        <span>{{message.senderName}}</span>
        <p>{{message.message}}</p>
        <small>{{message.createdAt}}</small>
      </div>
      <ng-template #locationBlock>
        <div class="message-container">
          <span>{{message.senderName}}</span>
          <iframe width="300" height="200" style="border:0" loading="lazy" allowfullscreen
            [src]="sanitizeLink(message.message)">
          </iframe>
          <small>{{message.createdAt}}</small>
        </div>
      </ng-template>
    </div>
  </section>

  <footer>
    <input type="text" required [(ngModel)]="msgToSend" name="message" placeholder="send message..."
      class="form-control" (keyup.enter)="sendMsg()">
    <button type="submit" class="btn btn-primary" (click)="sendMsg()">Send msg</button>
  </footer>
</div>
<ng-template #blackchatwindow>
  <div class="margin">
    <div class="no-user-selected">
      <div>
        <img src="assets/alien.png" alt="Alien head" height="200px">
        <p>No user is selected</p>
      </div>
    </div>
  </div>
</ng-template>